<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" role="img" class="icon-back" aria-label="back" (click)="navigateBack()"></ion-icon>
    <ion-icon name="home-outline" role="img" class="icon-home" aria-label="home" (click)="navigateToHome()"></ion-icon>
    <ion-title class="ion-text-center">Bienvenido</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrar-boton">
    <ion-button class="boton-qr" (click)="scanQRCode()">Escanear Código QR</ion-button>
  </div>
</ion-content>



