.image-container {
    // Ajusta el margen y el relleno según sea necesario para reducir el espacio
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .centrar-boton {
    // Ajusta el margen y el relleno del botón para reducir el espacio desde arriba
    margin-top: 0;
    padding-top: 0;
  
    .boton-qr {
      --background: black;
      --color: white;
      // Otros estilos del botón
    }
  }

  :host {
    ion-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%; // Establece un ancho máximo
    }
  }
  
  
  