<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center image-container">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button class="custom-button" routerLink="/login">Iniciar Sesión</ion-button>
      </ion-col>

      <!--Registro de Usuario-->
      <!--<ion-col size="auto">
        <ion-button class="equal-width black-button" routerLink="/register">Registro</ion-button>
      </ion-col>
      -->

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center custom-footer-title">Desarrollado por CAVICLA® 2023</ion-title> 
  </ion-toolbar>
</ion-footer>

