.black-button {
  --background: black; // Cambia el fondo a negro
  --color: white; // Cambia el texto a blanco

  &:disabled {
    --background: #444; // Fondo más claro para el estado desactivado
    --color: #ccc; // Color de texto para el estado desactivado
  }
}

ion-content {
  --background: none;
  background: url('../../../assets/images/Post\ de\ Instagram\ Promoción\ Universidad\ Azul\ Amarillo\ \(Mobile\ Mockup\)\ \(3\).svg') no-repeat center center / cover;
  background-size: cover; // Esto asegura que la imagen cubra todo el fondo
}

// Asegúrate de que los items y botones no hereden ningún fondo y se muestren correctamente
ion-item, ion-button {
  --background: transparent;
  --ion-item-background: transparent; // Para versiones más recientes de Ionic
  --ion-background-color: transparent;

  
}

.custom-button {
  --background: rgba(255, 165, 0, 1); // Color de fondo del botón a anaranjado
  --color: rgb(0, 0, 139);            // Color del texto a azul oscuro
  border-radius: 200px;                 // Bordes ovalados
  width: 300px;                       // Ancho del botón
  padding: 0.1px 10px;                  // Padding reducido (vertical y horizontal)
  line-height: 1;                     // Line-height reducido
  min-height: 0;                      // Anulando min-height predeterminado
  margin-top: 410px;                  // Mover hacia abajo
  margin-bottom: 10px;                // Mover hacia arriba
  margin-left: 20px;                  // Mover hacia la derecha
  margin-right: 20px;                 // Mover hacia la izquierda
}

  

.custom-title {
  background-color: rgba(0, 0, 255, 0.1); // Azul intenso con una transparencia moderada
  // Otros estilos si son necesarios...
}


.custom-footer-title {
  background-color: rgba(0, 0, 139, 0.3); // Azul oscuro con transparencia
  // Otros estilos si son necesarios...
}





