.custom-item {
    border-radius: 10px; // Esquinas redondeadas
    background-color: white; // Fondo blanco para cada item
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra suave
    margin-bottom: 15px; // Espacio entre los items
    // ...otros estilos...
  }
  
  .black-button {
    --background: black; // Fondo negro
    --color: white; // Texto blanco
    min-width: 200px;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  