<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" role="img" class="icon-back" aria-label="back" (click)="navigateBack()"></ion-icon>
    <ion-icon name="home-outline" role="img" class="icon-home" aria-label="home" (click)="navigateToHome()"></ion-icon>
    <ion-title class="ion-text-center custom-title">Recuperar Contraseña</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
 
        <ion-item class="custom-item">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" placeholder="Ingrese su Correo Electrónico" [(ngModel)]="email"></ion-input>
        </ion-item>
        
        
        <ion-row class="flex-center">
          <ion-button class="equal-width" expand="block" (click)="recoverPassword()">Recuperar Contraseña</ion-button>
        </ion-row>
  
       
        <ion-item *ngIf="message">
          <ion-label>{{message}}</ion-label>
          <ion-input *ngIf="passwordRecovered" readonly [value]="passwordRecovered"></ion-input>
        </ion-item>
      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-title class="ion-text-center custom-footer-title">Desarrollado por CAVICLA® 2023</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-footer>