<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="recoverPassword()">Recuperar Contraseña</ion-button>

  <ion-item *ngIf="message">
    <ion-label>{{message}}</ion-label>
    <ion-input *ngIf="passwordRecovered" readonly [value]="passwordRecovered"></ion-input>
  </ion-item>
</ion-content>
